@import "/src/styles/variables.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    border-bottom: 1px solid $neutral-200;
    outline: none;
    padding: 10px 0;
  }

  label {
    font-size: 14px;
    line-height: 17px;
    color: $neutral-400;
  }
}
