@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/BMWTypeNext-Light.20210426144302.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMWTypeNext";
  src: url("../fonts/BMWTypeNext-Bold.20210426144302.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
