@import "./fonts.scss";
@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "BMWTypeNext", sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

// slick carousel
.slick-dots li {
  button {
    &:before {
      font-size: 14px;
      opacity: 1;
      color: $neutral-100;
    }
  }

  &.slick-active {
    button {
      &:before {
        color: $blueLight-color;
      }
    }
  }
}
