$white-color: #ffffff;
$black-color: #000000;
$neutral-100: #e6e6e6;
$neutral-200: #bbbbbb;
$neutral-300: #707070;
$neutral-400: #666666;
$neutral-500: #575757;
$neutral-600: #262626;
$greenLight-color: #25d366;
$greenDark-color: #35aa61;
$blueLight-color: #1c69d4;
$blueDark-color: #0351be;
