@import "/src/styles/variables.scss";

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 14px;
    font-weight: bold;
    color: $neutral-400;
  }
}
