@import "/src/styles/variables.scss";

.headerWrapperMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  @media (min-width: 800px) {
    display: none;
  }
}

.contactMobile {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 14px;
    font-weight: bold;
    color: $neutral-400;
  }

  a {
    text-decoration: none;
  }
}

.headerWrapperDesktop {
  display: none;

  @media (min-width: 800px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
}

.contactDesktop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonsWrapper {
  display: flex;
  gap: 30px;
}

.ruler {
  display: flex;
  gap: 57px;

  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: $neutral-400;
  }
}
