@import "/src/styles/variables.scss";

.carouselWrapper {
  position: relative;
}

.banner {
  width: 100%;
  height: auto;
}

.carousel {
  overflow: hidden;

  ul {
    bottom: 25px;
  }
}

.mobileButton {
  button {
    width: 100%;
  }

  @media (min-width: 800px) {
    display: none;
  }
}
