@import "/src/styles/variables.scss";

.cardCarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
      max-width: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.carImage {
  object-fit: contain;
  transition: 0.2s;

  &:hover {
    opacity: 50%;
  }

  @media (min-width: 800px) {
    max-width: 100%;
  }
}

.title {
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: lighter;
  color: $neutral-600;

  @media (min-width: 800px) {
    padding-bottom: 30px;
  }
}

.subtitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: lighter;
  color: $neutral-600;
  margin-top: 10px;
  flex: 1;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
  padding: 20px 0px;

  button {
    flex: 1;
  }

  @media (min-width: 800px) {
    button:last-child {
      display: none;
    }
  }
}

.shareWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  p {
    font-size: 12px;
    line-height: 15px;
    color: $neutral-400;
  }

  a:hover path {
    fill: $blueLight-color;
  }
}
